extends ./layout

block title
    title Playlist #{channel}

block content
    h1 Playlist for #{channel}
    h4
        a(href=baseLink) #{baseLink}
    table#playlists
        thead
            tr
                th URI
                th Audio
                th Subtitles
                th Closed Captions
                th Average Bandwidth
                th Bandwidth
                th Framerate
                th Resolution
        tbody
            for playlist in playlists
                tr
                    td
                        a(href=playlist.uri) #{playlist.uri}
                    td #{playlist.streamInfo.audio}
                    td #{playlist.streamInfo.subtitles}
                    td #{playlist.streamInfo.closedCaptions}
                    td #{playlist.streamInfo.averageBandwidth}
                    td #{playlist.streamInfo.bandwidth}
                    td #{playlist.streamInfo.frameRate}
                    td #{playlist.streamInfo.resolution.width} x #{playlist.streamInfo.resolution.height}
