//- index.jade
extends ./layout.jade

block title
    title Game Listings

block content
    h1 Game Listings
    ol#games
        for game in games
            li
                a(href='games?game=' + game.game.name) #{game.viewers} watching #{game.channels} on #{game.game.name}