extends ./layout.jade

block title
    title Stream Listing

block content
    h1 Streams For #{game}
    ol#streams
        for stream in streams
            li
                h2 #{stream.channel.display_name}
                h3 #{stream.channel.status}
                subtitle
                    b #{stream.viewers} watching &nbsp;
                    i
                        a(href=stream.channel.url) View on Twitch&nbsp;
                    i
                        a(href='playlist?channel=' + stream.channel.name) Playlist Urls